DJANGO_SECRET_KEY=django-insecure-change-this-in-production
DATABASE_URL=postgresql://untels_user:untels_pass@db:5432/untels_db
DEBUG=True
OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.2
